body, h3 {
  margin: 0;
}

.page {
  display: flex;
}

.sidebar {
  padding-top: 8px;
  width: 400px;
}

.sidebar--title, .sidebar--item, .sidebar--loading {
  padding: 8px 16px;
}

.sidebar--title {
  margin: 0;
}

.sidebar--item {
  cursor: pointer;
  border-bottom: 1px solid lighten(black, 80%);

  &:hover {
    background-color: lighten(gray, 40%);
  }

  &.sidebar--item__active {
    background-color: lighten(gray, 30%);
  }
}

.results-area {
  padding: 16px;
}

.results-area, .results {
  width: 100%;
}

.results {
  div {
    display: flex;
    padding: 16px 0;
  }

  label {
    width: 160px;
  }

  progress {
    flex: 1;
    -webkit-appearance: none;
  }

  progress[value]::-webkit-progress-bar {
    background-color: lightgray;
  }

  progress[value]::-webkit-progress-value {
    background-color: dodgerblue;
  }

  progress[value]::-webkit-progress-bar, progress[value]::-webkit-progress-value {
    border-radius: 5px;
  }
}

.new-run {
  padding: 0 16px;

  select {
    margin: 0 16px;
  }
}